form{
    font-size: larger;
    margin: auto;
    width: 10%;
    padding: 10px;
}

input{
    font-size:large;
    padding: .2em;
    margin: .2em;
}

label{
    padding: .2em;
}

button{
    margin-top: .4em;
}

#error {
    margin:auto;
    width: 20%;
    padding-left: 5%;
}

li{
    list-style-type:none
}