form{
    font-size: larger;
    padding-top: 10px;
}

input{
    font-size:large;
    padding: .2em;
    margin: .2em;
}

label{
    padding: .2em;
}

button{
    margin-top: .4em;
}

#error {
    width: 100%;
}

li{
    list-style-type:none;
    color: red;
}

#labels{
    float:left;
}